.footer-top{
    background-color: #07294d;
    padding: 40px 0px;
}
.footer-col{
    text-align: center;
}

.footer-logo img{
    width: 25%;
}

.title-tt{
    font-size: 90%;
    font-weight: bold;
    color: white;
}

.footer-fan{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-address{
    color: white;
}

.cont{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    padding: 0;
    float: left;
    text-align: left;
}

.cont label{
    height: 30px;
    width: 30px;
    float: left;
    padding: 5px;
    color: #ffb800;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, .1);
    font-weight: bold;
}

.footer-title{
    margin-bottom: 30px;
}

.footer-title h6{
    color: #fff;
}

.footer-csbm{
    color: #fff;
}

.footer-fan h6{
    color: #fff;
}