/* .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.carousel-li {
    background: #fff !important;
    border-radius: 50%;
    width: 20px !important;
    height: 0px !important;
    border-top: 10px solid transparent !important;
    border-bottom: 8px solid transparent !important;
} */

/* .blog .carousel-indicators li {
    background: #d1d1d1;
    border-radius: 50%;
} */

/* .student {
    background: linear-gradient(rgba(152, 152, 152, 0.94), rgba(152, 152, 152, 0.94)), url('../img/bg_it.jpg');
}

.student-row {
    padding: 0px;
    margin: 0px;
    margin: auto;
}

.carousel-teacher {
    height: 300px !important;
}

.student-img {
    width: 100%;
    text-align: center;
    padding: 70px 0px;
}

.student-img-src {
    display: block;
margin: 0 auto;
    width: 50%;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.student-content {
    text-align: center;
    width: 100%;
    margin: auto;
}

.student-content p {
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-size: 22px;
    color: #FFF;
    font-style: italic;
    line-height: 32px;
    text-align: justify;
    max-width: 700px;
}

.blog {
    margin: 0px !important;
}

.student-blog {
    padding: 0px;
    margin: 0px;
}
 */
