@import '~antd/dist/antd.css';

.page-login {
  display: flex;
  min-height: 100vh;
  background: #f2f2f2;
}

.page-login-full {
  background: #fff;
  width: 450px;
  height: 500px;
  margin: auto auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px;
}

.page-login-avatar {
  text-align: center;
  margin-top: 15px;
}

.page-login-avatar .ant-avatar {
  border: 1.2px solid #55a221;
}

.page-login-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #229439;
  padding-top: 10px;
}

.login-form {
  max-width: 300px;
  margin: 50px auto;
}

.login-form-input {
  height: 40px;
  margin-top: 10px;
}

.login-form-forgot {
  float: right;
  color: #f5222d;
}

.login-form-error {
  color: #f5222d;
  text-align: center;
  margin-bottom: 10px;
}

.login-form-button {
  width: 100%;
  color: #fff;
  background-color: #26953c;
  border-color: #26953c;
}

.login-form-button:hover,
.login-form-button:focus {
  color: #fff;
  background-color: #1d732e;
  border-color: #26953c;
}

.ant-input-affix-wrapper .ant-input-prefix .anticon-user {
  margin: 0px 0px 0px 0px;
  font-size: 15px;
}

.ant-input-affix-wrapper .ant-input-prefix .anticon-lock {
  margin: 0px 0px 0px 0px;
  font-size: 15px;
}

.page-sendemail {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.page-sendemail-submit {
  text-align: center;
}
